cliente-webservice-bienes/src/conf/xml-resources/web-service-references/UsuarioDaoSessionBean/wsdl/localhost_8080/UsuarioWebService/UsuarioDaoSessionBean.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://dao.models.bienes.ejb3.webservice.formacionjava.es/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://dao.models.bienes.ejb3.webservice.formacionjava.es/">

<xs:element name="listarUsuario" type="tns:listarUsuario"/>

<xs:element name="listarUsuarioResponse" type="tns:listarUsuarioResponse"/>

<xs:complexType name="listarUsuario">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarUsuarioResponse">
<xs:sequence>
<xs:element name="return" type="tns:usuario" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="usuario">
<xs:sequence>
<xs:element name="cedula_emp" type="xs:int"/>
<xs:element name="cod_status" type="xs:int"/>
<xs:element name="contraseña" type="xs:string" minOccurs="0"/>
<xs:element name="login" type="xs:string" minOccurs="0"/>
<xs:element name="tipo_usu" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>